@import "./theme";


html, body {

  height: 100%;
}

body {
  margin:0;
  font-family: Roboto, "Helvetica Neue" sans-serif;
}

.blue {
  color: #80D8FF;
}

.cyan {
  color: #84FFFF;
}

.teal {
  color: #A7FFEB;
}

td {
  background-color: #A7FFEB;
}

th {
  background-color: #80D8FF;

}
