<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center">Wolfgang Amadeus Mozart</h3>
    </div>
  </div>

  <hr />

  <div class="row justify-content-around">
    <div class="col-sm-4 ">
      <figure>
      <img src="./assets/beethoven.png" />
      <figcaption>https://pixabay.com/vectors/beethoven-music-classics-composer-3567229/</figcaption>
    </figure>
    </div>
    <br/><br/>
    <div class="col-sm-8 float-left">
      <p>
        Ludwig van Beethoven is one of the most well-known classical music composers. While most people know his many symphonies and that he composed while deaf, most people do not know that he was one of the main musicians who brought the Romantic Era into the Classical Era. Music has an evolution from being evil to make sounds besides singing for the church, to singing with melodies, and evolved to pure symphonic audio with no human voice. His creative talent for music helped bring in a whole new era! Although he had a few predecessors, his symphonies were like no other.   <em class="apa-reference"><a href="https://www.biography.com/musician/ludwig-van-beethoven" target="_blank">Source</a></em>
      </p>
    </div>
  </div>
</div>
