/**
 * Title: sign-in.component.css
 * Author: Professor Krasso
 * Date: 19 January 2021
 * Modified By: Juvenal Gonzalez
 * Description: css styling for sign-in component
 */


.signIn-container {
  width: 35%;
  margin: 0 auto;
  margin-top:10%;
}
