<div class="contact-container">

  <div class="row">
    <div class="col-sm-12">
      <h3 style="padding-left: 27%;">Welcome to the Contact Us page</h3>
    </div>
  </div>

  <br /><br />
  <div class="row">

    <div class="col-sm-6 float-left mx-auto">
      <div class="row location">
        <div class="col-sm-12">
          <h1><img src="./assets/address.png" /></h1>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">8610 Essex Street</li>
            <li class="list-group-item border-0">Valley Stream, NY 11580</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6 float-right mx-auto">
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <h1><img src="./assets/phone.png" /></h1>
          </div>
        </div>

        <div class="row location">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item border-0">Phone: 209-555-5555</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
