<!--
 * Title: book-details-dialog.component.html
 * Author: Professor Krasso
 * Date: 1 February 2021
 * Modified By: Juvenal Gonzalez
 * Description: hyperlink markup for book-details-dialog component
 -->

<!--Defines markup output display for dialogue when isbn is clicked-->
<mat-card>
  <mat-card-title class="blue">
    {{ book.title }}
  </mat-card-title>
  <br /><br />
  <mat-card-content>
    <div fxLayout="column" class="book-details">
      <p>ISBN: {{ book.isbn }}</p>

      <p>Description:<br /> {{ book.description }}</p>

      <p>Authors:<br /> {{ book.authors.join(', ')}}</p>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="accent" matDialogClose="confirm">OK</button>
  </mat-card-actions>
</mat-card>
